:root {
  --dimension: 150px;
  --background: darkcyan;
  --borderColor: black;
  --borderWidth: 5px;
  --border: 7px solid black
}
.main-container{
  display: flex;
  background-color: var(--background);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container{

}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  background-color: cadetblue;
}
.element {
  display: flex;
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  background-color: aquamarine;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}
button {
  background-color: green;
}