.main-container{
  display: flex;
  background-color: darkcyan;
  height: 100vh;
  color: aqua;
}
td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}
.vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}